










/* Jumbotron */
.heroBackground {
  background-image: url(..//images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroCont {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  text-align: center;
}

