
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.navbar {
  height: 90px !important;
}

.masked-bar {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, .05);
}








/* Jumbotron */
.heroBackground {
  background-image: url(..//images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroCont {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, .05);
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  text-align: center;
}

.typing {
  font-size: 20px !important;
  letter-spacing: 10px;
  font-family: 'VT323', monospace;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:  typing 2s, cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% { border-color: transparent }
}

@keyframes typing {
  from { width: 0 }
}














@media only screen and (min-width: 300px) {
  .navbar {
   height: 90px !important; 
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
   height: 90px !important; 
 } 
}